.header {
  overflow: hidden;
  background-color: #5361df;
  padding: 20px 10px;
}
.totalCount{
  float: left;
}
#sort{
  width: 80%;
  height: 100%;
  border-radius: 5px;
}
.pageination{
  border: 1px solid black;
  padding: 10px;
}
.pagination-div{
  text-align: center;
}

